@{
    ViewBag.Title = "Home Page";
}

<style>
    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
    #map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #mapOptions {
        width: 220px;
        text-align: center;
        position: fixed;
        top: 50px;
        right: 50px;
    }
</style>

<div class="row" id="map">
</div>

<div class="list-group" id="mapOptions">
    <a href="#" class="list-group-item" data-toggle="modal" data-target="#modalReport">Report Crime Incident</a>
    <a href="#" class="list-group-item">Show Area Crime Report</a>
    <a href="#" class="list-group-item list-group-item-danger" onclick="hide();">Cancel</a>
</div>




<!--Crime Report Modal MODALS-->

<div class="modal fade" id="modalReport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Report a Crime Incident</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <script src="@Url.Content("~/Scripts/gmaps.js")"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx_kiLyXQBUWuVFMB5iLI-aE3PnhimYFw&callback=initMap" async defer></script>





}