@model CIS.Models.ReportsModel

@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>

<div>
   
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CrimeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
